html {
    box-sizing: border-box;
}
*,
*::before,
*::after
{
    box-sizing: inherit;
}
/*================[______]==================*/
/*universal-container*/
.universal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*==================================*/
/* grid-box*/
.grid-box {
    width: 800px;
    height: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-wrap: wrap;
}

/*tall container*/
.tall-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 0px solid saddlebrown;/*clean it after: the border_color-style is unnecessary*/

}

/*tiny-boxes*/
.tiny-box {
    flex-grow: 1;
    border: 1px rgba(0, 0, 0, 0.349) solid;
}

/*==================================*/
/*menu-part: start #################*/

.menu {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    column-gap: 10px;
}
/*button*/
.btn {
    margin-bottom: 20px;
    font-size: large;
    
}

/*slider*/
/*slider:start ------------------------*/
.slideContainer  {
    width: 190px;
    display: flex;
    column-gap: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(9, 185, 230);
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;

    background-color: green;
    cursor: pointer;
}
/*slider:end ------------------------*/

/*rangeOutput*/
#rangeOutput {
    width: 70px;
    margin-left: 5px;
    text-align: center;
}

/*submit-button: start --------------------*/
.submitBtn {
    background-color: rgb(9, 185, 230);
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    border: 1px white solid;
    border-radius: 4px;
}

.submitBtn:hover {
    background-color: white;
    color: rgb(9, 185, 230);
    cursor: pointer;
}
.submitBtn:active {
    background-color: rgb(252, 243, 232);
    border-color: rgb(9, 185, 230);
}
/*submit-button: end --------------------*/

/*paint-erase icons*/
.menu img {
    width: 30px;
    height: auto;
    padding: 2px;
}

/*paint-button: start --------------------*/
.menu .paintBtn{
    display: flex;
    align-items: center;

    color: white;
    background-color: rgb(8, 136, 93);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: 1px solid white;
    border-radius: 4px;
    padding: 1px 4px;
    cursor: pointer;
}

.menu .paintBtn:hover{
    color: rgb(8, 136, 93);
    background-color: white;
}

.menu .paintBtn:active{
    background-color: antiquewhite;
    border-color: rgb(8, 136, 93);

}
/*paint-button: end --------------------*/

/*erase-button: start --------------------*/
.menu .eraseBtn{
    display: flex;
    align-items: center;

    color: white;
    background-color: rgb(158, 90, 2);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: 1px solid white;
    border-radius: 4px;
    padding: 1px 4px;
    cursor: pointer;
}

.menu .eraseBtn:hover{
    color: rgb(158, 90, 2);
    background-color: white;
}

.menu .eraseBtn:active{
    background-color: antiquewhite;
    border-color: rgb(158, 90, 2);

}
/*erase-button: end --------------------*/

/*when paint-erase button are clicked*/
.btnClicked {
    box-shadow: rgba(0, 255, 0, 0.3) 0px 5px 30px, rgba(0, 255, 0, 0.22) 0px 5px 5px;
}

.btnNotClicked {
    box-shadow: rgba(255, 0, 0, 0.3) 0px 5px 30px, rgba(255, 0, 0, 0.22) 0px 5px 5px;
}


/*show/hideLines-button: start --------------------*/
.menu .showHideLines {
    background-color: black;
    color: white;
    border: 0px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 15px;
}
.menu .showHideLines:hover {
    color: black;
    background-color: white;
}
.menu .showHideLines:active {
    background-color: bisque;
}

.remove-tiny-box-border{
    border: 0px;
}
/*show/hideLines-button: end --------------------*/

/*menu-part: end #################*/
