html {
    box-sizing: border-box;
}
*,
*::before,
*::after
{
    box-sizing: inherit;
}
/*================[______]==================*/
/*universal-container*/
.universal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*==================================*/
/* grid-box*/
.grid-box {
    width: 800px;
    height: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-wrap: wrap;
}

/*tall container*/
.tall-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 0px solid saddlebrown;/*clean it after: the border_color-style is unnecessary*/

}

/*tiny-boxes*/
.tiny-box {
    flex-grow: 1;
    border: 1px rgba(0, 0, 0, 0.349) solid;
}

/*==================================*/
/*menu-part: start #################*/

.menu {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    column-gap: 10px;
}
/*button*/
.btn {
    margin-bottom: 20px;
    font-size: large;
    
}

/*slider*/
/*slider:start ------------------------*/
.slideContainer  {
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(9, 185, 230);
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;

    background-color: green;
    cursor: pointer;
}
/*slider:end ------------------------*/

/*rangeOutput*/
#rangeOutput {
    width: 130px;
    margin-left: 5px;
    text-align: center;
}

/*submit-button: start --------------------*/
.submitBtn {
    background-color: rgb(9, 185, 230);
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    border: 1px white solid;
    border-radius: 4px;
}

.submitBtn:hover {
    background-color: white;
    color: rgb(9, 185, 230);
    cursor: pointer;
}
.submitBtn:active {
    background-color: rgb(252, 243, 232);
    border-color: rgb(9, 185, 230);
}
/*submit-button: end --------------------*/

/*menu-part: end #################*/
